<div class="container">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="selectedBook">Book:</label>
            <select formControlName="selectedBook" class="form-control">
                <option *ngFor="let book of books">{{book}}</option>
            </select>
            <label for="selectedChapter">Chapter:</label>
            <select formControlName="selectedChapter" class="form-control">
                <option *ngFor="let chapter of chapters">{{chapter}}</option>
            </select>
            <label for="selectedVerse">Verse:</label>
            <select formControlName="selectedVerse" class="form-control">
                <option *ngFor="let verse of verses">{{verse}}</option>
            </select>
        </div>
    </form>
</div>